.custom-nav{
  height: 80px;
  background-color: rgb(231, 247, 255);
  color: rgb(38, 113, 226) !important;
}
.nav-brand-color{
  color: rgb(38, 113, 226) !important;
}

.nav-brand-color{
  color: rgb(38, 113, 226) !important;
}
.font6rem{
  font-size: 6rem !important;
}
.no-text-decoration{
  text-decoration: none !important;
}
.font-bold-color-brown{
  font-weight: bold;
  color: rgb(230, 101, 3);
}
.card-img-size{
  width: 100%;
  height: 200px;
}